{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 class="introduction">Getting to know <br><br> 
	<span id="p" style="color: #5B41C1">P</span><span id="e" style="color: #5893E0">e</span><span id="n1" style="color: #43C2C2">n</span><span id="n2" style="color: #58E55C">n</span><span id="y" style="color: #FCF04E">y</span>  
	<span id="f" style="color: #F25A5F">F</span><span id="a" style="color: #5B41C1">a</span><span id="n3" style="color: #5893E0">n</span><span id="g" style="color: #43C2C2">g</span>
</h1>
{% endblock %}